* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#titulo{
    color:red;
    display: flex;
    align-items: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}
form{
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.377);
    max-width: 400px;
    width: 100%;
    border: 3px solid #f1f1f1d7;
}
form input{
    text-align: left;
    margin-bottom: 20px;
    color: hsl(0, 0%, 20%);
  }
